COMPANY_NAME=YAMUNA FINA PROJECT

# Cloud server
CLOUD_HTTP_PORT=8088
CLOUD_WS_PATH=/ws/device
DB_DRIVER=mysql
JSON_DB_FILE=./cloud-server/data/cloud-db.json

# Use these only when DB_DRIVER=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=pi4_kiosk
MYSQL_USER=pi4_user
MYSQL_PASSWORD=change-me
MYSQL_CONNECTION_LIMIT=10

# Pi PyQt HMI
DEVICE_SERIAL=PI4-GATE-001
CLOUD_WS_URL=ws://127.0.0.1:8088/ws/device
GATE_MODE=mock
GATE_GPIO_PIN=17
GATE_PULSE_MS=1200
